h1{color:black}
*{border:solid}
.header{
    background-color: red;
    display:flex;
    justify-content:space-between 
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start
}
.footer{
    display:flex;
    justify-content:flex-end
}
body{
    background-color:#c51711;
}